<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</h:head>
<h:body >
	<h1>Erkan Sengül JSF_Hibernate_Primeface</h1>
	<hr />
	<br />

	<h:form id="formid">


		<p:tabView>
			<p:tab title="KundenInfo">

		<!--  Panel Kunden  -->

				<p:panel id="basic" header="KundenInformation" footer="Mitarbeiter" >
					
				<p:dialog header="New User" widgetVar="dlg1" modal="true" height="200">
					
						
		<!-- panelgrid for saving new Users -->

						
				<h:panelGrid id="ugrid" columns="2" update="ajax" life="2000">
							
				<h:outputLabel> First Name: </h:outputLabel>
				
				<h:inputText value="#{kundecontroller.kunde.firstname}" id="firstname" />
								
				<h:outputLabel> Last Name: </h:outputLabel>
							
				<h:inputText value="#{kundecontroller.kunde.lastname}" id="lastname" />
								
				<h:outputLabel> Email: </h:outputLabel>
							
				<h:inputText value="#{kundecontroller.kunde.email}" id="email" required="true" />
								
				<h:outputLabel> Gender: </h:outputLabel>
							
				<h:inputText value="#{kundecontroller.kunde.gender}" id="Gender" />
					<p>
								
					<p:commandButton value="save" id="ajax" action="#{kundecontroller.addKunde}" partialSubmit="false" styleClass="ui-priority-primary" oncomplete="PF('dlg1').hide();" />
									
					</p>
						
				</h:panelGrid>
						<p></p>
						
						
				</p:dialog>
					<p:commandButton style="background-color:powderblue;" value="AddKunde" type="button" class="btn btn-light" onclick="PF('dlg1').show();" />
						
				<p></p>
					
					
				<!--  datatable for all Customers show -->
					
				<p:dataTable id="kundenTable" var="kunde" value="#{kundecontroller.allKunden}" editable="true" rowStyleClass="#{car.year le 1990 ? 'old' : null}">
						
						
				<p:column headerText="KundenID">
							
				<p:cellEditor>
								
				<f:facet name="output">
									
									<h:outputText value="#{kunde.id}" />
								
				</f:facet>
				
				<f:facet name="input">
									
									<p:inputText value="#{kunde.id}" />
								
				</f:facet>
							
				</p:cellEditor>
						
				</p:column>
						
				<p:column filterBy="#{kunde.firstname}" filterMatchMode="contains" headerText="Firstname">
							
				<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{kunde.firstname}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{kunde.firstname}" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column filterBy="#{kunde.lastname}" filterMatchMode="contains"
							headerText="Lastname">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{kunde.lastname}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{kunde.lastname}" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column filterBy="#{kunde.email}" filterMatchMode="contains"
							headerText="Email">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{kunde.email}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{kunde.email}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Gender">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{kunde.gender}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{kunde.gender}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Delete">
							<p:commandButton value="Delete"
								action="#{kundecontroller.deleteKunde(kunde.id)}"
								immediate="true" >
								<p:confirm header="Confirmation" message="Bist du sicher?"
									icon="ui-icon-alert" />
							</p:commandButton>
							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="Ja" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								<p:commandButton value="Nein" type="button"
									styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							</p:confirmDialog>
						</p:column>

						<p:column headerText="Update" style="width:100px">


							<p:rowEditor action="#{kundecontroller.updateKunde(kunde.id)}" />
						</p:column>
					</p:dataTable>



				</p:panel>

			</p:tab>
			
			
			<!--   For the new Autos -->
			<p:tab title="Autos">
				<p:panel id="Auto" header="AutoInfoInformation" footer="Autos" style="background-color:#638acc;">
				
					<p:dataTable id="autoTable" var="fahrzeug" value="#{fahrzeugController.fahrzeuge}" editable="true" rowStyleClass="#{car.year le 1990 ? 'old' : null}">
						
						
					
					
					<p:column headerText="Id">
						<h:outputText value="#{fahrzeug.id}" />
					</p:column>

					<p:column headerText="Marke">
						<h:outputText value="#{fahrzeug.marke}" />
					</p:column>

					<p:column headerText="Modell">
						<h:outputText value="#{fahrzeug.modell}" />
					</p:column>

					<p:column headerText="Baujahr">
						<h:outputText value="#{fahrzeug.baujahr}" />
					</p:column>
					<p:column headerText="Grundpreis">
						<h:outputText value="#{fahrzeug.grundpreis}" />
					</p:column>
					</p:dataTable>
				</p:panel>
			</p:tab>
		</p:tabView>
	</h:form>

</h:body>
</html>
